.App {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("https://AVu120.github.io/trivia-quiz/background.jpg?raw=true");
}

.App__card {
  background-color: white;
  padding: 5vh;
  border: 0.5vh double #2a2e48;
  margin: 0 0;
}
